<!DOCTYPE html>
<html class="no-js">
    <head>
	<!--CACTUS-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Tasty Panama</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{% static '/static/css/bootstrap.css' %}">
		<style>
		    body {
		        padding-top: 50px;
		        padding-bottom: 20px;
		    }
		</style>
		<link rel="stylesheet" href="{% static '/static/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" href="{% static '/static/css/main.css' %}">
		<script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>

	<!--TEMPLATE-->
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<!-- DEFAULT TEMPLATE FONTS DO NOT REMOVE -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

		<!-- EXTRA FONT FOR SLIDER -->
		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600' rel='stylesheet' type='text/css'>

		<!-- MAIN CSS LIBRARIES -->
		<link href="{% static '/static/css/reset.css' %}" rel="stylesheet" type="text/css" />
		
		<link href="{% static '/static/css/prettyPhoto.css %}" rel="stylesheet" type="text/css" />
		<link href="{% static '/static/css/font-awesome.css %}" rel="stylesheet" type="text/css" />
		<link href="{% static '/static/css/owl.carousel.css %}" rel="stylesheet" type="text/css" />
		<link href="{% static '/static/css/owl.theme.css %}" rel="stylesheet" type="text/css" />
		<link href="{% static '/static/css/YTPlayer.css %}" rel="stylesheet" type="text/css" />
		<link href="{% static '/static/css/animate.css %}" rel="stylesheet" type="text/css" />

		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
		<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="rs-plugin/css/extralayers.css" media="screen" />

		<!-- MAIN STYLES FOR THE TEMPLATE -->
		<link href="style.css" rel="stylesheet" type="text/css" />


    </head>

    <body>

<div id="top"></div>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>


<!-- *** HEADER STARTS *** -->
<header class="transparent_menu">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<!-- *** LOGOS STARTS *** -->
				<div id="logo">
					<a href="#top"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="logo_dark">
					<a href="#top"><img src="images/logo_dark.png" alt="logo"></a>
				</div> 
				<!-- *** LOGOS END *** -->

				<ul class="mobile_nav_trigger">
						<li><a href="#responsive_nav" class="menu_trigger"><i class="fa fa-bars fa-2x"></i></a></li>
				</ul>

					<div class="social_nav">
					<ul>
						<li class="twitter_header_icon"><a href="#twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li class="facebook_header_icon"><a href="#facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
					</ul>
				</div>
				
				<!-- *** MAIN NAVIGATION STARTS *** -->
				<nav class="main_nav white">
					<ul>
						<li class="active"><a href="#top">Home</a></li>
						<li><a href="#about-us">About </a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#process_one">Process</a></li>
						<li><a href="#faq">FAQ</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#footer">Contact</a></li>
						<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
					</ul>
				</nav>
				<!-- *** MAIN NAVIGATION END *** -->

			</div><!--col-me-12-->
		</div><!--row-->
	</div><!--container-fluid-->


<!-- *** RESPONSIVE NAV START *** -->
	<div class="responsive_nav">
		<div class="mobileAreaMenu">
			<ul>
				<li class="active"><a href="#top">Home</a></li>
				<li><a href="#about-us">About </a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#process_one">Process</a></li>
				<li><a href="#faq">FAQ</a></li>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#footer">Contact</a></li>
				<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
			</ul>
		</div><!--mobileAreaMenu-->
	</div><!--responsive_nav-->
<!-- *** RESPONSIVE NAV END *** -->

</header>
<!-- *** HEADER END *** -->


    <!--CACTUS-->
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "/index.html" %}">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if_current_page '/index.html' 'active' '' %}"><a href="{% url '/index.html' %}">Home</a></li>
            <li class="{% if_current_page '/about.html' 'active' '' %}"><a href="{% url '/about.html' %}">Sobre Nosotros</a></li>
            <li class="{% if_current_page '/contact.html' 'active' '' %}"><a href="{% url '/contact.html' %}">Contactenos</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    -->
    {% block body %}
    {% endblock %}

    <script src="{% static '/static/js/vendor/jquery-1.10.1.js' %}"></script>
    <script src="{% static '/static/js/vendor/bootstrap.js' %}"></script>
    <script src="{% static '/static/js/main.js' %}"></script>
  </body>

  {% block scripts %}
  {% endblock %}
</html>
